.content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

.content::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 1rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  border-radius: 1rem;
}
